# Entorno virtual
venv/
*.pyc
__pycache__/

# Base de datos SQLite
db.sqlite3

# Archivos de migración
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Archivos de configuración local
.env
